.input-box{
    position: relative;
    margin: 10px auto;
}

.input-box input{
    width: 100%;
    padding: 10px;
    border: 1px solid #7a7a7a;
    background: transparent;
    border-radius: 5px;
    outline: none;
    color: #111111;
    font-size: 1em;
}

.input-box label{
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 1em;
    color: #7a7a7a;
    transition: 0.5s;
}
.input-box input:valid + label,
.input-box input:focus + label{
    color: #111111;
    transform: translateX(10px) translateY(-7px);
    font-size: 0.7em;
    padding: 0 10px;
    background-color: #FFFFFF;
}