/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Thin.ttf');
    font-weight: 100;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-ThinItalic.ttf');
    font-weight: 100;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-ExtraLight.ttf');
    font-weight: 200;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-ExtraLightItalic.ttf');
    font-weight: 200;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Light.ttf');
    font-weight: 300;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-LightItalic.ttf');
    font-weight: 300;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Regular.ttf');
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Italic.ttf');
    font-weight: 400;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Medium.ttf');
    font-weight: 500;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-MediumItalic.ttf');
    font-weight: 500;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Bold.ttf');
    font-weight: 700;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-BoldItalic.ttf');
    font-weight: 700;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-Black.ttf');
    font-weight: 900;
    font-style: normal;
  }
  
  @font-face {
    font-family: "Poppins";
    src: url('assets/fonts/Poppins/Poppins-BlackItalic.ttf');
    font-weight: 900;
    font-style: italic;
  }
  
  :root{
      --primary-color: #507ceb;
      --secondary-color: #3367eb;
      --danger-color: #e14949;
  }
  
  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      text-decoration: none;
      list-style: none;
      font-family: 'Poppins', sans-serif;
  }
  
  .page{
      display: flex;
      flex-direction: row;
  }